body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.roboto {
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.raleway {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.hero h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
}
.hero button {
  background-color: #4d5ae5;
}
.hero button:hover {
  background-color: #404bbf;
}
.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 3%;
  line-height: 1.17
  color: #2e2f42; /*navy blue*/
  font-weight: bold;
  text-transform: uppercase;
}
.logotype .logotype-phrase-web {
  color: #4d5ae5; /*iris*/
}

.menuNav {
  font-family: 'Roboto';
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 24px;
  font-weight: medium;
  color: #2e2f42;
}

.main-adress {
  color: #434455; /*slate*/
   font-style: normal;
}
