body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
.roboto {
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.raleway {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.hero h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
}
.hero button {
  background-color: #4d5ae5;
}
.hero button:hover {
  background-color: #404bbf;
}
.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 3%;
  line-height: 1.17;
  color: #2e2f42; /*navy blue*/
  font-weight: bold;
  text-transform: uppercase;
}

.menu-nav {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 24px;
  color: #2e2f42;
  font-weight: 700;
}

.main-adress {
  color: #434455; /*slate*/
  font-style: normal;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logotype .logotype-phrase-studio {
  color: #2e2f42; /*navy blue*/
}
.menu-nav-li1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-nav-li1:hover,
.menu-nav-li1:focus {
  color: #404bbf;
}

.mailto {
  letter-spacing: 0.02em;
  color: #434455;
}

.mailto:hover,
.mailto:focus {
  letter-spacing: 0.02em;
  color: #404bbf;
}
